<div *ngIf="isClient">
    <header class="header d-flex justify-content-between p-3 bg-white shadow-lg align-items-center text-primary">
        <div>
            <h2 class="fw-bold">Service Booking System</h2>
        </div>
        <div class="d-flex justify-content-between flex-row gap-4">
            <a nz-button nzType="link" routerLinkActive="active" routerLink="client/dashboard" class="header-link">Dashboard</a>
            <a nz-button nzType="link" routerLinkActive="active" routerLink="client/mybooking" class="header-link">Booking</a>
            <a nz-button nzType="link" routerLinkActive="active" (click)="signOut()" class="header-link">LogOut</a>
        </div>
    </header>
</div>

<div *ngIf="isCompny">
    <header class="header d-flex justify-content-between p-3 shadow-sm align-items-center bg-white text-primary">
        <div>
            <h2 class="fw-bold">Admin Panel</h2>
        </div>
        <div class="d-flex justify-content-between flex-row gap-3">
            <a nz-button nzType="link" routerLinkActive="active" class="header-link text-decoration-none" routerLink="company/dashboard">
              Dashboard
          </a>
            <a nz-button nzType="link" routerLinkActive="active" class="header-link text-decoration-none" routerLink="company/ad">
              Post Ad
          </a>
            <a nz-button nzType="link" routerLinkActive="active" class="header-link text-decoration-none" routerLink="ads">
              Ads
          </a>
            <a nz-button nzType="link" routerLinkActive="active" class="header-link text-decoration-none" routerLink="company/reviews">
              Reviews
          </a>
            <a nz-button nzType="link" routerLinkActive="active" class="header-link text-decoration-none" routerLink="signup/signup-company">
              Add Admin
          </a>
            <a nz-button nzType="link" routerLinkActive="active" class="header-link text-decoration-none" (click)="signOut()">
              LogOut
          </a>
        </div>
    </header>
</div>

<router-outlet>
</router-outlet>