<div>
    <div class="d-flex justify-content-center align-items-center mt-5 ">
        <div class=" shadow-sm p-5 mb-5 bg-body-tertiary rounded d-flex flex-column align-items-center">
            <div class="p-3">
                <h3>Client signUp</h3>
            </div>
            <form action="" [formGroup]="validateForm" (submit)="signupClient()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="not valid first name">
                        <input class="input" placeholder="First Name" formControlName="firstname" id="firstname" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzErrorTip="not valid address">
                        <input class="input" placeholder="Last Name" formControlName="lastname" id="lastname" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzErrorTip="not valid phone">
                        <input class="input" placeholder="phone" formControlName="phone" id="phone" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzErrorTip="not valid email">
                        <input class="input" type="email" placeholder="E-mail" formControlName="email" id="email" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzErrorTip="not valid password">
                        <input class="input" type="password" placeholder="password" formControlName="password" id="password" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="not valid confirm">
                        <input class="input" type="password" placeholder="confirm password" formControlName="chickpassword" id="confirmpassword" />
                    </nz-form-control>
                </nz-form-item>
                <div *ngIf="field!=''" class=" bg-danger p-2 m-3 rounded text-white">
                    <h4>{{field}}</h4>
                </div>

                <nz-form-item>
                    <nz-form-control nzErrorTip="not valid confirm">
                        <input class="input" type="submit" placeholder="signUp" />
                    </nz-form-control>
                </nz-form-item>
                Or
                <a routerLink="/signin" class="text-danger">login now</a>
            </form>
        </div>

    </div>
</div>