<div>
    <!-- Service Information Section -->
    <div class="d-flex justify-content-center align-items-center mt-5 flex-row gap-3">
        <!-- Service Details Card -->
        <div class="shadow-sm p-5 mb-5 bg-body-tertiary rounded service-card">
            <p>Service Name: {{ ad?.serviceName }}</p>
            <p>Description: {{ ad?.description }}</p>
            <p>Price: {{ ad?.price }}</p>
            <p>Company Name: {{ ad?.companyName }}</p>
        </div>

        <!-- Booking Form Card -->
        <div class="shadow-sm p-5 mb-5 bg-body-tertiary rounded booking-card">
            <div>
                <h4>Book Service</h4>
            </div>

            <form [formGroup]="validateForm">
                <nz-form-item>
                    <nz-form-label [nzSpan]="24">Date of Booking</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="bookDto"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
                <button type="button" class="btn btn-primary" (click)="bookService()" [disabled]="validateForm.invalid">
                  Booking
              </button>
            </form>
        </div>
    </div>

    <!-- Reviews Section -->
    <div class="d-flex justify-content-center align-items-center mt-5 flex-column gap-3">
        <div *ngFor="let rev of review" class="review-card">
            <nz-card [nzBordered]="false" nzTitle="{{ rev.clientName }}">
                <p>Review: <strong>{{ rev.review }}</strong></p>
                <p>Rating: <strong><nz-rate disabled [ngModel]="rev.rating"></nz-rate></strong></p>
                <p>Posted on: <strong>{{ rev.reviewDate | date: 'dd/MM/yyyy' }}</strong></p>
            </nz-card>
        </div>
    </div>
</div>