<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="shadow-sm p-5 mb-5 bg-body-tertiary rounded d-flex flex-column gap-4 align-items-center w-75">
        <!-- Header -->
        <div>
            <h3 class="text-primary">Create Service</h3>
        </div>
        <!-- Form -->
        <form [formGroup]="validateForm" (ngSubmit)="postAs()" class="w-100">
            <div class="d-flex flex-column gap-4">
                <!-- Service Name -->
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <div nzHasFeedback nzErrorTip="Service Name is required">
                            <input nz-input placeholder="Service Name" formControlName="serviceName" class="form-control">
                        </div>
                    </div>
                </div>
                <!-- Price -->
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <div nzHasFeedback nzErrorTip="Price is required">
                            <input nz-input placeholder="Price" formControlName="price" type="number" class="form-control">
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <div nzErrorTip="Description is required">
                            <textarea rows="5" formControlName="description" placeholder="Description" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <!-- Submit Button -->
                <button nz-button nzType="primary" class="btn btn-dark w-100">Add</button>
            </div>
        </form>
    </div>
</div>