<form action="" [formGroup]="validateForm" nz-form class="d-flex justify-content-center align-items-center flex-row gap-3 shadow-sm rounded p-3">
    <input nz-input placeholder="Enter service name to search" nzSize="large" formControlName="service" class="form-control rounded-3">
    <button nz-button nzSize="large" nz-type="primary" (click)="searchByName()" [disabled]="validateForm.invalid" type="button" class="btn btn-primary rounded-3">Search</button>
</form>

<div class="d-flex justify-content-center align-items-center mt-5 flex-column">
    <div *ngFor="let item of data" class="service-item shadow-lg p-5 mb-5 bg-white rounded-3">
        <p><strong>Service Name:</strong> {{ item.serviceName }}</p>
        <p><strong>Description:</strong> {{ item.description }}</p>
        <p><strong>Price:</strong> {{ item.price }}</p>
        <div class="d-flex gap-3">
            <button type="button" class="btn btn-primary rounded-3" routerLink="ad/{{item.id}}">View</button>
        </div>
    </div>
</div>