<div class="d-flex justify-content-center align-items-center mt-5 flex-column w-100">
    <div *ngFor="let item of ads" class="shadow-sm p-4 mb-4 bg-body-tertiary rounded w-75">
        <h4 class="text-primary mb-3">{{ item.serviceName }}</h4>
        <p><strong>Description:</strong> {{ item.description }}</p>
        <p><strong>Price:</strong> ${{ item.price }}</p>
        <div class="d-flex gap-3 mt-3">
            <button type="button" nz-button nzType="primary" class="btn btn-dark" routerLink="update/{{item.id}}">
              Update
          </button>
            <button type="button" nz-button nzType="default" class="btn btn-danger" (click)="deleteAd(item.id)">
              Delete
          </button>
        </div>
    </div>
</div>